@charset "utf-8";
/* CSS Document */

.margin{width:1190px;margin:0 auto;}


#top{height: 25px;background: #f2f2f2;border-bottom: 1px solid #b6b4b6;}
#top .top-l{float:left}
#top .top-l img:nth-child(2){margin-left: 8px;margin-right: 8px;}
#top .top-l img{margin-bottom: -8px;}
#top .top-r{ float:right;font:100 12px/25px "";color: #666;}
#top .top-r strong{cursor: pointer;color: #f00;margin: 0 5px;}
#top .top-r i:hover{cursor: pointer;color: #e00;}
#top .top-r b:hover{color: #e00;}
#top .top-r span{margin: 0 5px;}
#gao{position: relative;}
#gao .gao{height: 80px;background: url(../images/gao.jpg);}
#gao span{position:absolute;right:173px;top:0 ; cursor: pointer; width:20px;height: 20px;font:15px/20px "";text-align: center;background: #ccc;border: none;opacity: 0.5;}

header{height: 88px;}
header .logo{float:left;margin: 16px 0 } 
header .center{ float:left;margin-top:24px;margin-left: 53px;}
header .center input{ text-indent: 5px;float:left;border-radius: 5px 0 0 5px;width: 460px;height:32px;border: 3px solid #96843a;font:16px/32px "";}
header .center p{cursor: pointer;float:left; border-radius:0 5px 5px 0;width: 70px;height:38px;background: #96843a;color: #fff;text-align: center;font: 16px/38px "";}
header .center .resou{font: 13px/18px "";margin-top:5px ;}
header .center .resou a:hover{color: #e00;}
header .che{ cursor: pointer;padding-left:47px;box-sizing:border-box;position: relative;float:right;width: 146px;height: 32px;border:1px solid #dfdfdf;font: 12px/30px "";margin-top: 28px;background: url(../images/che.png) no-repeat 10px,url(../images/yjian.png) no-repeat 132px;background-color: #e3e3e3;}
header .che span{text-indent: 47px ;}
header .che i{position: absolute;top:-7px;left: 26px;color: #fff;text-align: center;width: 18px;height: 16px;border-radius: 50% 50% 50% 0;background: #f00;font:12px/16px "";}

nav{height: 38px;border-bottom:2px solid #96843a;margin-bottom: 1px;}
nav .all{float: left;width: 190px;height: 38px;font: 16px/38px "";color: #FFFFFF;background: #968239;text-align: center;}
nav .nav{float: left; font:14px/41px ""; position: relative;}
nav .nav a{color: #000;cursor: pointer;margin: 0 24px}
nav .nav a:hover{color: #e00;}
nav .nav a:first-child{font-weight: 800; color: #f00;}
nav .nav .new1{position: absolute;left:175px;top:0}
nav .nav .new2{position: absolute;left:366px;top:0}

#banner{height: 455px;}
#banner .banner{float: left;width: 1190px;height: 455px;}
#banner .banner .swiper-container {width: 1190px;height: 455px;}
#banner .banner .swiper-slide{width: 810px;height: 455px;}
#banner .banner .swiper-pagination-bullet {width: 20px;height: 20px;text-align: center;line-height: 20px;font-size: 12px;color:#000;opacity: 1;background: rgba(0,0,0,0.2);}
#banner .banner .swiper-pagination-bullet-active {color:#fff;background: #007aff;}

#main{margin-top: 30px;}
#main img{display: block; margin: 40px auto;}
#main .img1{width: 1190px;}

footer{border-top: 2px solid #333;margin-top: 30px;}
footer .zhinan{margin-top: 20px;}
footer .zhinan ul{display: flex;justify-content: space-around;}
footer .zhinan ul h3{font:16px/32px "";color: #222;}
footer .zhinan ul a{display: block;font:12px/24px "";}

#bao{border-top:  2px solid #ccc;}
#bao .bao{margin-top:20px;display: flex;justify-content: space-around;}
#bao .bao a{cursor: pointer;}

#fnav{height: 40px;background: #968239;font:16px/40px "";text-align: center;color:#fff;margin-top:20px}
#fnav a{color: #fff;}
#fnav span{margin: 0 10px 0 13px;}

#di{text-align: center;font: 14px/40px "";}
#di img{height: 48px; cursor: pointer;}




































